@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root, .park {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.park.disney-world {
  background: rgb(160, 186, 125);
}

.map-container {
  position: relative;
  height: 900px;
}

.map {
  position: relative;
  height: 100%;
  pointer-events: none;
}

.labels {
  position: relative;
}

.label {
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  background: rgb(23 60 103);
  color: white;

  white-space: nowrap;
}

.label.magic-kingdom {
  left: 410px;
  top: -870px;
  padding: 10px 25px;
}

.label.blizzard-beach {
  left: 120px;
  top: -290px;
  padding: 10px 65px;
}

.label.animal-kingdom {
  left: -370px;
  top: -465px;
  padding: 10px 70px;
}

.label.epcot {
  left: 0px;
  top: -460px;
}

.label.activity1,
.label.activity2,
.label.activity3 {
  left: 0px;
  top: -900px;
}

.pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4.333);
  }
}
