@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-content: center;
  justify-content: center;
}

.map {
  position: absolute;
  z-index: 1;
  height: 900px;
}

.disney-world {
  background: rgb(160, 186, 125);
}

.magic-kingdom {
  background: rgb(105, 175, 79);
}

.label {
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  background: rgb(23 60 103);
  color: white;

  transform: scale(1);
  animation: pulse 2s infinite;

  white-space: nowrap;
}

.label.magic-kingdom {
  left: 125px;
  top: 35px;
  padding: 10px 25px;
}

.label.blizzard-beach {
  left: -160px;
  top: 615px;
  padding: 10px 65px;
}

.label.animal-kingdom {
  left: -650px;
  top: 440px;
  padding: 10px 70px;
}

.label.epcot {
  left: -280px;
  top: 445px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4.333);
  }
}
