.button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(11, 122, 120, 0.26);
  border: 10px #42a7f5;
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  width: 25%;
}
.card-item {
    margin: 1rem 0;
    list-style-type: none; 
  }
  
  .card-item__content {
    padding: 0;
  }
  
  .card-item__info {
    padding: 1rem;
    text-align: center;
  }
  
  .card-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
  }
  
  .card-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-item__info h2,
  .card-item__info h3,
  .card-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .card-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .card-item__modal-content {
    padding: 0;
  }
  
  .card-item__modal-actions {
    text-align: right;
  }
  
  .card-item__actions button,
  .card-item__actions a {
    margin: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .card-item__image {
      height: 20rem;
    } 
  }